.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: blanchedalmond;

}

.header {
  position: fixed;
  top: 0;
  background: #27ae60;  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .main {
    padding: 20px;
    padding-top: 50px;
  }
}
